.container-LabHome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A192F;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.title-LabHome{
    color: #64FFDA;
}

.select-container-LabHome{
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5PX solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 3px #000;
}

.container-button-LabHome{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-LabHome{
    color: #aaa;
    padding: 5vh 5vw;
    background-color: #172A45;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
}

.btn-LabHome:hover{
    color: #fff;
    background-color: #1e3049;
    box-shadow: 1px 1px 1px 2px #fff;
}

@media (max-width: 700px) {

    .container-LabHome{
        justify-content: start;
    }

    .select-container-LabHome{
        width: 80%;
        margin-top: 2vh;
    }

    .container-button-LabHome{
        min-width: 80%;
    }

    .btn-LabHome{
        min-width: 100%;
    }
}