.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;
    background: #0A192F;
    font-family: 'Segoe UI', sans-serif;
    color: #D9E2EC;
}

.form-card {
    background: #172A45;
    padding: 2.5rem 2rem;
    width: 530px;
    border-radius: 14px;
    border: 1px solid #64FFDA44;
    box-shadow: 0 8px 18px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-card h2 {
    color: #64FFDA;
    font-weight: 700;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.form-card input,
.form-card select,
.form-card textarea {
    background: #0A192F;
    border: 1px solid #233554;
    color: #D9E2EC;
    padding: .6rem .7rem;
    border-radius: 6px;
    transition: .3s all ease;
    font-size: .9rem;
}

.form-card input::placeholder {
    color: #8892B0;
}

.form-card textarea {
    resize: none;
    height: 80px;
}

.form-card input:focus,
.form-card select:focus,
.form-card textarea:focus {
    outline: none;
    border-color: #64FFDA;
    box-shadow: 0 0 5px #64FFDA;
}

.form-card label {
    font-size: .9rem;
    font-weight: 600;
}

.double-input {
    display: flex;
    gap: .5rem;
}

.double-input input {
    width: 100%;
}

.btn-calcular {
    margin-top: .7rem;
    padding: .7rem;
    background: #64FFDA;
    color: #0A192F;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s all ease;
}

.btn-calcular:hover {
    background: #4bd7b6;
    transform: scale(1.03);
}

.btn-borrar {
    margin-top: 1.2rem;
    padding: .6rem;
    background: #ff4e4e;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: .2s ease;
}

.btn-borrar:hover {
    background: #cc3c3c;
    transform: scale(1.03);
}